body {
  margin: 0;
  font-family: '', sans-serif;
  background-color: #3B4252  ;
}

.github-logo {
  background-color: whitesmoke; 
  border-radius: 45%;
  padding: 2px; 
  width: 30px; 
  margin-top: 10rem;

}


.github-logo:hover {
  background-color: rgb(191, 191, 191); 
  cursor: pointer;

}




