.circle {
    border-color: whitesmoke; 
    border: solid; 
    border-width: 3px;
    background: rgb(44, 56, 87);
    padding: 3rem; 
    width: 2rem;
    height: 2rem;
    margin: 2rem auto 0 auto; 
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border-spacing: 0px;
    z-index: 1; 
}
  
.circle:hover {
    background: rgb(152, 157, 169);
    border-spacing: 20px;
    cursor: pointer;
}

.square {
    border-color: whitesmoke; 
    border: solid; 
    border-width: 1px;
    background: #6f7787;
    padding: 3rem; 
    width: 25%;
    height: 100px;
    margin: -5rem auto; 
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}


img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.labels {
    margin-top: 3rem; 
}

.label {
    font-size: x-large;
}